.col-form-label {
    text-align: left;
}




.register-form {
    width: 600px;   
    border-style: solid;
    border-color: yellow;
    border-radius: 1em;

}

.register-form-detail {
    
    border-style: solid;
    border-color: yellow;
    border-radius: 1em;

}

table
{
    text-align: left;

}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}

h2{
    text-align: center;
}

h4{
    text-align: center;
}