.col-form-label {
    text-align: left;
}

.box{
    padding: 50px;
    background: #a8cfee;
    width: 800px;
    /* border-style: solid; 
   border-color: black;
    border-radius: 2em;*/
}

.register-form {

    border-style: solid;
    border-color: yellow;
    border-radius: 1em;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

table
{
    text-align: left;;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}

.regtitle {
    text-align: center;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }